.app__header {
    background-color: var(--color-black);

}

.app__header-h1 {
    color: var(--color-golden);
    font-family: var(--font-base);
    line-height: 117px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 90px;

}

.app__header-img img {
    width: 80%;
}